:root{
    --blanco:#ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box; /*modelo de caja para que el padding no se sume con el alto*/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}
footer{
    text-align: center;
}

body{  
    font-size: 16px; /*1rem = 16px*/
    font-family:'Krub', sans-serif;/*cambio el tipó de fuente*/
    background-image: linear-gradient(to top,#dfe9f3 0%, var(--blanco) 100%);/*fondo degradado, le paso que vaya de arriba hacia abajo (to top de 0% al 100%)*/
}
/*estas dos lineas hacen que los rem se acomoden bien a los dispositivos*/


/*Tipografia*/
h1{
    font-size: 3.8rem;
}

h1,h2,h3{
    text-align: center;
}

h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}
.sombra{
    -webkit-box-shadow: -1px 9px 44px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 44px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 44px -8px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.nav-bg{
    background-color: var(--secundario);
}

.titulo{
    text-align: center;   
}

.titulo span{
    font-size: 2rem;
}

/*Utilidades*/
.w-100{
    width: 100%;
}

@media (min-width: 768px) {

  .w-100{
      width: auto;
  }
}

.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto ;
}


.navegacion-principal{
   
   display: flex ;
   flex-direction: column;
   align-items: center;
   
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
  }

.navegacion-principal a{
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    
}

.navegacion-principal a:hover{
    background: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 768px) {
    .navegacion-principal a{
        margin-bottom: 0;
    }
  }

.hero{
    background-image: url(../img/c2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;/*toma todo el ancho disponible*/
    height: 450px;
    position: relative;
    margin-bottom: 2rem ;

}
.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0, .6);/*transpariencia*/
    width: 100%; /*ancho*/
    height: 100%;/*alto*/
    display: flex;
    flex-direction: column; /*para poner de forma vertical los contenidos*/
    align-items: center;/*centra los contenidos que estan horizontalmente (columna)*/
    justify-content: center;/*alinea verticalmente*/
}
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);/*pongo de color blanco el titulo central*/
}

.boton{
    background-color:var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 20px;
    text-decoration: none;/*le quito el subrayado*/
    text-transform: uppercase;/*pongo en mayuscula*/
    font-weight: bold;/*negrita*/
    border-radius: .5rem; /*bordes redondeados*/
    text-align: center;
    border: none;
}

.boton:hover{
    cursor: pointer;/*cambia el cursor por la manito*/
}

.servicios, .navegacion-principal,.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/*servicios*/
@media (min-width: 768px) {
  .servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*le digo que repita 3 veces la misma columna en fracciones*/
    column-gap: 1rem;/*genera la separacion de las columnas*/
    }
}


    /*misma forma pero de manera mas corta seria 
    grid: 200px 800px (filas)/ 300px 300px (columnas);*/

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p{
    line-height: 2;/*cambio el interlineado*/
    font-weight: ;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;/*hago el ciculo en los iconos*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*Contacto*/
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /*utilizar el valor mas pequeño*/
    margin: auto;/*hay que utilizarlo cuando hay un formulario*/
    padding: 2rem;
    border-radius: .8rem;
}
.formulario fieldset{
    border: none;/*elimino los bordes*/
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.campo{
    margin-bottom: 1rem;

}

.campo label{
    color:var(--blanco);
    font-weight: bold ;
    margin-bottom: .5rem; 
    display: block ; /*cada label va a ocupar ese espacio disponible*/
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .8rem;
}
.enviar .boton{
    width: 100%;
}